# Binaries
/bin
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Environment files
.env

# Credentials
user_credentials.json
token.json
credentials.json

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS specific
.DS_Store
